<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<link rel="stylesheet" href="home.css">

<body>
<main>
    <div id="banner-container">
        <div style="background-image: url('/images/home-banner.png')" id="banner">
            <div class="banner-button-container">
                <a href="http://139.59.246.126:3000/shop" class="banner-button">SHOP NOW</a>
            </div>
        </div>
        <div class="divider-bar"></div>
    </div>

    <div id="home-container">
        <!-- Best-selling items section -->
        <div class="product-header">
            <p>RECENT BEST SELLERS</p>
        </div>
        <div id="product-listing">
            <% products.forEach(product => { %>
                <div class="product-card" data-id="<%= product.prod_id %>" onclick="handleProductClick('<%= product.prod_id %>')">
                    <div class="image-container">
                        <img src="<%= product.image %>" alt="<%= product.name %>">
                    </div>
                    <div class="product-info">
                        <p class="product-name"><%= product.name %></p>
                        <p class="product-description"><%= product.description %></p>
                        <p class="product-org">
                            <img src="/icons/booth-black-outline.png" alt="Org Icon"> <%= product.organization %>
                        </p>
                        <p class="product-category"><%= product.category %></p>
                        <p class="product-price">₱ <%= product.price.toFixed(2) %></p>
                    </div>
                </div>
            <% }); %>
        </div> 

        <div class="button-container">
            <a href="http://139.59.246.126:3000/shop" class="best-sellers-button">View All Products</a>
        </div>

        <div class="divider-line"></div>

        <!-- Browse by category -->
        <div id="browse">
            <div class="category-header">
                <p>BROWSE BY CATEGORY</p>
            </div>
            <div class="grid-container">
                <a href="http://139.59.246.126:3000/shop?category=food" class="grid-card category-food">
                    <p>Food</p>
                    <img src="/images/food.png" alt="Food">
                </a>
                <a href="http://139.59.246.126:3000/shop?category=item" class="grid-card category-items">
                    <p>Items</p>
                    <img src="/images/items.png" alt="Items">
                </a>
                <a href="http://139.59.246.126:3000/shop?category=services" class="grid-card category-services">
                    <p>Services</p>
                    <img src="/images/services.png" alt="Services">
                </a>
            </div>
        </div>        

        <!-- Booths -->
        <div id="discover">
            <div class="discover-card">
                <div class="discover-text">
                    <p>DISCOVER NEW FINDS, CHECK OUT THE BOOTHS!</p>
                </div>
                <div class="logos">
                    <% booths.forEach(booth => { %>
                        <div class="logos-slide">
                            <img class="booth-img" src="<%= booth.org_img %>" data-id="<%= booth.org_id %>" onclick="handleBoothClick('<%= booth.org_id %>')">
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    function handleProductClick(productId) {
        window.location.href = `shop/reserve?id=${productId}`;
    }

    function handleBoothClick(boothId) {
        window.location.href = `shop/booth?id=${boothId}`;
    }
</script>
</body>
<%- include('../partials/footer.ejs') %>
