<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs')%>
<link rel="stylesheet" href="/cart.css">
<main>
    <%- include('../partials/breadcrumbs.ejs') %>
    <div class="container heading">
        <img class="icon" src="/icons/logo-black-outline.png" alt="Cart icon">
        <h2>Your Cart</h2>
    </div>
    <div id="cart-table" class="column-container">
        <div class="head">
            <div class="container select-all">
                <input type="checkbox">
                <p>Select All Products/Services</p>
            </div>
            <p>Pickup</p>
            <p>Unit Price</p>
            <p>Quantity</p>
            <p>Total Price</p>
            <p></p>
        </div>
        <div class="body column-container">
            <div class="org-wrapper">
                <div class="org container">
                    <input class="org-checkbox" type="checkbox">
                    <h3 class="org-name">SCHEMA</h3>
                </div>
                <div class="item container">
                    <div class="container prod">
                        <input class="item-checkbox" type="checkbox">
                        <img src="/images/placeholder.jpeg">
                        <p>Black Man (Gwapo)</p>
                    </div>
                    <div>
                        <select class="pickup">
                            <option>Nov. 23 - 8 AM</option>
                        </select>
                    </div>
                    <p class="unit-price">₱ 500.00</p>
                    <div>
                        <input type="number" class="qty" min="1" max="10"></input>
                    </div>
                    <p class="total-price">₱ 700.00</p>
                    <button class="remove-btn">
                        Remove
                    </button>
                </div>
            </div>
        </div>

        <div class="body column-container">
            <% if (Object.keys(orgProducts).length > 0) { %>
                <% for (const [orgName, products] of Object.entries(orgProducts)) { %>
                    <div class="org-wrapper">
                        <div class="org container">
                            <input class="org-checkbox" type="checkbox">
                            <h3 class="org-name"><%= orgName %></h3>
                        </div>
                        <% products.forEach(product => { %>
                            <div class="item container">
                                <div class="container prod">
                                    <input class="item-checkbox" type="checkbox">
                                    <img src="<%= product.image %>" alt="<%= product.name %>">
                                    <p><%= product.name %></p>
                                </div>
                                <div>
                                    <select class="pickup">
                                        <% product.schedules.forEach(schedule => { %>
                                            <option><%= schedule %></option>
                                        <% }) %>
                                    </select>
                                </div>
                                <p class="unit-price">₱ <%= product.price %></p>
                                <div>
                                    <input type="number" class="qty" min="1" max="10" value="<%= product.quantity %>">
                                </div>
                                <p class="total-price">₱ <%= (product.quantity * product.price).toFixed(2) %></p>
                                <button class="remove-btn">Remove</button>
                            </div>
                        <% }); %>
                    </div>
                <% } %>
            <% } else { %>
                <p>No products in the cart.</p>
            <% } %>
        </div>


        <div class="foot container">
            <div class="container">
                <div class="container select-all">
                    <input type="checkbox">
                    <p>Select All Products</p>
                </div>
                <button class="clear-btn">Clear Cart</button>
            </div>
            <div class="container total">
                <p>Total (1 item): <span id="grand-total">₱ 700.00</span></p>
                <form method="get" action="/cart/checkout">
                    <button class="checkout-btn">
                        Check Out
                    </button>
                </form>
            </div>

        </div>
    </div>

</main>
<%- include('../partials/footer.ejs')%>