<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<link rel="stylesheet" href="/checkout.css">

<main>
    <%- include('../partials/breadcrumbs.ejs') %>
    <div class="container heading">
        <img class="icon" src="/icons/checkout-black-outline.png" alt="checkout icon">
        <h2>Checkout</h2>
    </div>
    <div id="checkout-table">
        <div class="head">
            <div class="container">
                <p>Products/Services</p>
            </div>
            <p>Unit Price</p>
            <p>Quantity</p>
            <p>Total Price</p>
        </div>
        
        <div class="body column-container">
            <% products.forEach(product => { %>
                <div class="item container">
                    <div class="container prod">
                        <img src="<%= product.image %>" alt="<%= product.name %>">
                        <p><%= product.name %></p>
                    </div>
                    <p class="unit-price">₱ <%= product.price.toFixed(2) %></p>
                    <p class="select-qty"><%= product.quantity %></p>
                    <p class="selected-total">₱ <%= (product.price * product.quantity).toFixed(2) %></p>
                </div>
            <% }) %>
        </div>

        <div class="checkout-totals">
            <p>Grand Total (<span id="total-qty"><%= products.length %> items</span>): <span id="grand-total">₱ 
            <%= products.reduce((total, product) => total + (product.price * product.quantity), 0).toFixed(2) %></span></p>
        </div>

        <div class="foot container">
            <p class="cash-payment-reminder">*Cash payment must be paid to the respective booths.</p>
            <div class="cash">
                <p>Cash</p>
            </div>
            <form method="post" action="/cart/receipt">
                <button type="submit" class="checkout-btn">Reserve</button>
            </form>
        </div>
    </div>
</main>

<%- include('../partials/footer.ejs') %>
