
<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs')%>
<link rel="stylesheet" href="shop.css">
<body>
<main>
    <div id="shop-page">
        <div id="shop-container">
            <div class="parent-container">
                <div id="booth-icon-and-header">
                    <img id="booths-img" src="icons/booth-black-outline.png" alt="Booth Icon">
                    <p>Booths</p>
                </div>
                <div class="org-container">
                    <ul class="organization-list">
                        <li class="org-booths">
                            <% booths.forEach(booth => { %>
                                <!--<p><%= booth.org_name %></p>-->
                                <img src="<%= booth.org_img %>">
                            <% }); %>
                        </li>
                    </ul>
                </div>
                <div id="shops-and-sorting-container">
                    <div id="shop-icon-header">
                        <img id="shops-img" src="icons/shopping-bag 2.png" alt="Shop Icon">
                        <p>Shop</p>
                    </div>
                    <form id="sort-form" action="/shop" method="GET">
                        <!--Pricing View Filter-->
                        <div id="category-filter">
                            <p id="sort-by">SORT BY</p>
                            <select class="category-select" name="category" onchange="this.form.submit()">
                                <option value="" disabled selected>Price, Low to High</option>
                                <option value="high-to-low">Price, High to Low</option>
                            </select>
                            <p id="view-gap">VIEW</p>
                            <!--Type of Product View Filter-->
                            <div id="view-filter">
                                <label>
                                    <input type="radio" name="category" value="electronics" onchange="this.form.submit()">
                                    Item
                                </label>
                                <label>
                                    <input type="radio" name="category" value="clothing" onchange="this.form.submit()">
                                    Service
                                </label>
                                <label>
                                    <input type="radio" name="category" value="home" onchange="this.form.submit()">
                                    Food
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="product-listing">
                    <!--To be Added-->
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
<%- include('../partials/footer.ejs')%>

