<!--
Author/s: Lacanilao, Marvin Patrick. Urbiztondo, Karl Jasper.
Description: For maintainability, most of these are contained in a seperate child-container.
It also allows for new features to be added.
-->
<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<link rel="stylesheet" href="/shop.css">
<body>
<main>
    <div id="shop-page">
        <div id="shop-container">
            <div class="parent-container">
                <div id="booth-icon-and-header">
                    <p>
                        <img src="icons/booth-black-outline.png" alt="Booth Icon" class="icon"> 
                        Booth
                    </p>
                </div>
                <div class="org-container">
                    <ul class="organization-list">
                        <li class="org-booths">
                            <% booths.forEach(booth => { %>
                                <div class="booth-card">
                                    <img class="booth-img" src="<%= booth.org_img %>" data-id="<%= booth.org_id %>" onclick="handleBoothClick('<%= booth.org_id %>')">
                                    <p class="booth-name"><%= booth.org_name %></p>
                                </div>
                            <% }); %>
                        </li>
                    </ul>
                </div>
                <div id="shops-and-sorting-container">
                    <div id="shop-icon-header">
                        <p>
                            <img src="icons/shop-black-outline.png" alt="Shop Icon" class="icon"> 
                            Shop
                        </p>
                    </div>
                        <!--Pricing View Filter-->
                        <div id="category-filter">
                            <p id="sort-by">SORT BY:</p>
                        <form id="sort-form" action="/shop" method="GET">
                            <select class="category-select" name="category" onchange="this.form.submit()">
                                <option value="" disabled selected>Filter</option>
                                <option value="best-selling">Best Selling</option>
                                <option value="low-to-high">Price, Low to High</option>
                                <option value="high-to-low">Price, High to Low</option>
                            </select>
                        </form>
                            <p id="view-gap">VIEW:</p>
                            <!--Type of Product View Filter-->
                            <div id="view-filter">
                                <form id="sort-form" action="/shop" method="GET">
                                    <label>
                                        <input type="radio" name="category" value="item" onchange="this.form.submit()">
                                        Item
                                    </label>

                                    <label>
                                        <input type="radio" name="category" value="service" onchange="this.form.submit()">
                                        Service
                                    </label>

                                    <label>
                                        <input type="radio" name="category" value="food" onchange="this.form.submit()">
                                        Food
                                    </label>
                                </form>
                            </div>
                        </div>
                </div>
                <!-- Product Listing -->
                <div id="product-listing">
                    <% products.forEach(product => { %>
                        <div class="product-card" data-id="<%= product.prod_id %>" onclick="handleProductClick('<%= product.prod_id %>')">
                            <!-- Display product image -->
                            <div class="image-container">
                                <img src="<%= product.image %>" alt="<%= product.name %>">
                            </div>
                            <div class="product-info">
                                <!-- Display product name, description, category, and price -->
                                <p class="product-name"><%= product.name %></p>
                                <p class="product-description"><%= product.description %></p>
                                <p class="product-org">
                                    <img src="/icons/booth-black-outline.png" alt="Org Icon"> <%= product.organization %>
                                </p>
                                <p class="product-category"><%= product.category %></p>
                                <p class="product-price">₱ <%= product.price.toFixed(2) %></p>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    function handleProductClick(productId) {
        window.location.href = `shop/reserve?id=${productId}`;
    }

    function handleBoothClick(boothId) {
        window.location.href = `shop/booth?id=${boothId}`;
    }
</script>
</body>
</html>
<%- include('../partials/footer.ejs')%>