<!--
Author/s: Lacanilao, Marvin Patrick. Urbiztondo, Karl Jasper.
Description: Image panel and description panel are seperated for easier maintainability.
-->
<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<link rel="stylesheet" href="/product_reserve.css">
<body>
    <main>
        <div id="reserve-page">
            <div id="reserve-container">
                <nav class="breadcrumbs">
                    <% breadcrumbs.forEach((breadcrumb, index) => { %>
                        <% if (index < breadcrumbs.length - 1) { %>
                            <a href="<%= breadcrumb.link %>"><%= breadcrumb.label %></a> >
                        <% } else { %>
                            <span><%= breadcrumb.label %></span>
                        <% } %>
                    <% }); %>
                </nav>
                <div class="product-and-details">
                    <div id="product-image">
                        <img src="/<%= product.img_src %>" alt="<%= product.prod_serv_name %>">
                    </div>
                    <div id="product-details">
                        <p id="product-name"><%= product.prod_serv_name %></p>
                        <p id="product-type"><%= product.category %></p>
                        <p id="product-price">₱ <%= product.price %></p>
                        <p id="product-description"><%= product.description %></p>

                        <hr>
                        <p class="generic-text">Seller:</p>
                        <div class="org-seller">
                            <img src="/<%= product.org_img %>" alt="Booth">
                            <p id="booth-org"><%= product.org_name %></p>
                        </div>
                        <hr>

                        <form action="/shop/add-to-cart" method="post">
                            <p class="generic-text">Schedule</p>
                            <div class="radio-group">
                                <% schedules.forEach(schedule => { %>
                                    <input class="radio-input" name="radio-group" id="radio1" type="radio" required>
                                    <label class="radio-label" for="radio1">
                                        <%= schedule.loc_room %> |
                                        Stall No# <%= schedule.stall_number %>
                                        | <%= schedule.date %>
                                        <%= schedule.start_time %>-<%= schedule.end_time %></label>
                                <% }); %>
                            </div>
                            <hr>
                            <div class="increment-cart">
                                <div class="wrapper">
                                    <span class="minus">-</span>
                                    <span id="quantity-input" class="num">01</span>
                                    <span class="plus">+</span>
                                </div>
                                <input type="hidden" name="org_id" value="<%=product.id%>">
                                <input type="hidden" name="prod_id" value="<%= product.prod_id %>">
                                <input type="hidden" name="prod_qty" id="prod-qty-input">
                                <button id="add-to-cart" type="submit">Add to Cart</button>
                            </div>
                            <script>
                                const plus = document.querySelector(".plus"),
                                    minus = document.querySelector(".minus"),
                                    num = document.querySelector(".num"),
                                    quantityInput = document.getElementById("quantity-input");
                                let a = 1;
                                plus.addEventListener("click", ()=>{
                                    a++;
                                    a = (a < 10) ? "0" + a : a;
                                    num.innerText = a;
                                    quantityInput.value = a;
                                });
                                minus.addEventListener("click", ()=>{
                                    if(a > 1){
                                        a--;
                                        a = (a < 10) ? "0" + a : a;
                                        num.innerText = a;
                                        quantityInput.value = a;
                                    }
                                });
                            </script>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<%- include('../partials/footer.ejs')%>