<!--
Author/s: Lacanilao, Marvin Patrick. Urbiztondo, Karl Jasper.
Description: Image panel and description panel are seperated for easier maintainability.
-->
<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<link rel="stylesheet" href="/product_reserve.css">
<body>
    <main>
        <div id="reserve-page">
            <div id="reserve-container">
                <%- include('../partials/breadcrumbs.ejs') %>
                <div class="product-and-details">
                    <div id="product-image">
                        <img src="/<%= product.img_src %>" alt="<%= product.prod_serv_name %>">
                    </div>
                    <div id="product-details">
                        <p id="product-name"><%= product.prod_serv_name %></p>
                        <p id="product-type"><%= product.category %></p>
                        <p id="product-price">₱ <%= product.price %></p>
                        <p id="product-description"><%= product.description %></p>

                        <hr>
                        <p class="generic-text">Seller:</p>
                        <div class="org-seller">
                            <img src="/<%= product.org_img %>" alt="Booth">
                            <p id="booth-org"><%= product.org_name %></p>
                        </div>
                        <hr>

                        <form action="/shop/add-to-cart" method="GET">
                            <p class="generic-text">Schedule</p>
                            <div class="radio_group">
                                <% schedules.forEach(schedule => { %>
                                    <input class="radio-input" 
                                           name="radio_group" 
                                           id="<%= schedule.sched_id %>" 
                                           type="radio" 
                                           value="<%= schedule.sched_id %>" 
                                           required>
                            
                                    <label class="radio-label" for="<%= schedule.sched_id %>">
                                        <%= schedule.loc_room %> |
                                        Stall No# <%= schedule.stall_number %> |
                                        <%= schedule.date %> 
                                        <%= schedule.start_time %> - <%= schedule.end_time %>
                                    </label>
                                <% }); %>
                            </div>
                            
                            <hr>
                            <div class="increment-cart">
                                <div class="wrapper">
                                    <span class="minus">-</span>
                                    <span id="quantity-input" class="num">01</span>
                                    <span class="plus">+</span>
                                </div>
                                <input type="hidden" name="org_id" value=<%=product.id%>>
                                <input type="hidden" name="prod_id" value=<%= prod_id %>>
                                <%= console.log(prod_id) %>
                                <input type="hidden" name="prod_qty" id="prod-qty-input" value=1>
                                <button id="add-to-cart" type="submit">Add to Cart</button>
                            </div>
                            <script>
                                const plus = document.querySelector(".plus"),
                                    minus = document.querySelector(".minus"),
                                    num = document.querySelector(".num"),
                                    quantityInput = document.getElementById("prod-qty-input");
                                let a = 1;
                                plus.addEventListener("click", ()=>{
                                    if (a < 10) { 
                                        a++;
                                        a = (a < 10) ? "0" + a : a; 
                                        num.innerText = a;
                                        quantityInput.value = a;
                                    }
                                });
                                minus.addEventListener("click", ()=>{
                                    if(a > 1){
                                        a--;
                                        a = (a < 10) ? "0" + a : a;
                                        num.innerText = a;
                                        quantityInput.value = a;
                                    }
                                });
                            </script>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<%- include('../partials/footer.ejs')%>