<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<link rel="stylesheet" href="/booth.css">

<body>
    <main>
        <div id="booth-page">
            <div id="booth-shop-container">
                <div class="parent-container">
                    <div id="navbar">
                        <p id="navbar-text">Shop > Booth</p>
                    </div>
                    <div class="org-banner-and-details" style="background-image: url('/images/samcis-banner.png');">
                        <div id="banner-content">
                            <div id="banner-org-and-name">
                                <img src="/<%= boothData.org_img %>" alt="Schema Logo">
                                <p><%= boothData.org_name %></p>
                            </div>
                            <div id="banner-org-socials">
                                <img src="/icons/soc-med/facebook.png" alt="facebook image">
                                <p>/<%= boothData.fb_link %></p>

                                <img src="/icons/soc-med/instagram.png" alt="instagram image">
                                <p><%= boothData.x_link %></p>

                                <img src="/icons/soc-med/twitter.png" alt="twitter image">
                                <p><%= boothData.ig_link %></p>
                            </div>
                        </div>
                    </div>
                    <div class="booth-name-and-filter">
                        <p id="shop-booth-name"><%= boothData.org_name %></p>
                        <form id="sort-form" action="/shop/booth" method="GET">
                                <input hidden name="id" value="<%= id %>">
                            <div id="category-filter">
                                <p id="sort-by">SORT BY:</p>
                                <select class="category-select" name="category" onchange="this.form.submit()">
                                    <option value="" disabled selected>Filter</option>
                                    <option value="best-selling">Best Selling</option>
                                    <option value="low-to-high">Price, Low to High</option>
                                    <option value="high-to-low">Price, High to Low</option>
                                </select>
                                <p id="view-gap">VIEW:</p>
                                <!--Type of Product View Filter-->
                                <div id="view-filter">
                                    <label>
                                        <input type="radio" name="category" value="item" onchange="this.form.submit()">
                                        Item
                                    </label>
                                    <label>
                                        <input type="radio" name="category" value="service" onchange="this.form.submit()">
                                        Service
                                    </label>
                                    <label>
                                        <input type="radio" name="category" value="food" onchange="this.form.submit()">
                                        Food
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Product Listing -->
                    <div id="product-listing">
                        <% orgProducts.forEach(product => { %>
                            <div class="product-card" data-id="<%= product.prod_id %>" onclick="handleProductClick('<%= product.prod_id %>')">
                                <!-- Display product image -->
                                <div class="image-container">
                                    <img src="/<%= product.img_src %>" alt="<%= product.prod_serv_name %>">
                                </div>
                                <div class="product-info">
                                    <p><%= product.img_src %></p>
                                    <!-- Display product name, description, category, and price -->
                                    <p class="product-name"><%= product.prod_serv_name %></p>
                                    <p class="product-description"><%= product.description %></p>
                                    <p class="product-org">
                                        <img src="/icons/booth-black-outline.png" alt="Org Icon"> <%= boothData.org_name %>
                                    </p>
                                    <p class="product-category"><%= product.category %></p>
                                    <p class="product-price">₱ <%= product.price.toFixed(2) %></p>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<%- include('../partials/footer.ejs')%>